@use "../../styles/mixins";

// More specific selector for overwrite css variable
.rootSlide.rootSlide {
  --background-color: var(--color-background-first);

  overflow: visible !important;
  background-color: var(--background-color);

  @include mixins.respond-above(xs) {
    border-radius: var(--border-radius-default);
  }

  :global(html.theme-dark) & {
    --background-color: var(--color-background-window);

    @include mixins.respond-below(xs) {
      --background-color: var(--color-background-second);
    }
  }
}

.slideWrapper {
  position: relative;
  height: 100%;
}

.slide {
  overflow: auto;
  overflow-y: scroll;
  height: 100%;

  @include mixins.respond-below(xs) {
    padding-top: calc(0.5rem + var(--safe-area-top));
  }
}

.categories {
  padding: 0 0 calc(max(var(--safe-area-bottom), 1rem) + var(--bottombar-height) + 1rem);

  &.landscapeCategories {
    padding-bottom: 1rem;
  }

  @include mixins.respond-below(xs) {
    padding-bottom: calc(max(var(--safe-area-bottom), 1rem) + var(--bottombar-height) + 4.5rem);
  }
}

.suggestionsMenu {
  --offset-x-value: 0.5rem;

  width: calc(100% - 1rem);

  @include mixins.respond-below(xs) {
    --offset-x-value: 1.25rem;

    top: auto !important;
    bottom: 3.25rem;
    transform-origin: bottom center !important;

    width: calc(100% - 2rem);
    max-height: 15rem;
  }
}

.suggestions {
  --offset-y-value: 0.5rem;

  z-index: 3;
  margin: 0 0.5rem;

  @include mixins.adapt-margin-to-scrollbar(0.5rem);
}

.suggestion {
  --color-interactive-popup-menu-hover: var(--color-interactive-item-hover);

  align-items: center;
  font-size: 1rem;
}

.suggestionWithSeparator {
  @include mixins.separatorListTop(2.75rem);

  &FullWidth {
    @include mixins.separatorListTop(0);
  }
}

.suggestionIcon {
  margin-inline-end: 0.5rem;
  font-size: 1.25rem !important;
  color: var(--color-gray-3);

  @media (pointer: coarse) {
    font-size: 1.5rem !important;
  }
}

.suggestionAddress {
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.clearSuggestion {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  border: none;

  font-size: 1.25rem;
  line-height: 1rem;
  color: var(--color-gray-4);

  background: none;

  transition: color 150ms;

  &:hover,
  &:focus-visible {
    color: var(--color-gray-3);
  }

  @media (pointer: coarse) {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

.walletSuggestion {
  display: flex;
  align-items: center;
  width: 100%;
}

.walletSuggestionAvatar {
  margin-inline-end: 0.75rem;
}

.walletSuggestionInfo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.walletSuggestionTitle,
.walletSuggestionSubtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.walletSuggestionTitle {
  font-weight: 650;
  color: var(--color-black);
}

.walletSuggestionSubtitle {
  margin-top: 0.125rem;

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--color-gray-2);
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 1.875rem;
  padding-bottom: 2rem;

  color: var(--color-gray-2);

  background-color:  var(--color-background-first);

  @include mixins.respond-above(xs) {
    justify-content: center;
    border-radius: var(--border-radius-default);
  }

  :global(html.theme-dark) & {
    background-color: var(--color-background-window);
  }
}

.emptyListLoading {
  padding-top: 8rem;

  @include mixins.respond-above(xs) {
    padding-bottom: 8rem;
  }
}

.emptyListTitle {
  margin: 0 1rem 1rem;
  text-align: center;
}

.sticker {
  margin-bottom: 1rem;
}

.retryButton {
  min-width: 8rem;
}

.searchWrapper {
  position: sticky;
  z-index: 3;
  top: 0;

  width: 100%;
  margin-bottom: 0.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);

  :global(html.theme-dark) & {
    background: linear-gradient(180deg, rgba(14, 14, 15, 0.9) 0%, rgba(14, 14, 15, 0) 100%);
  }

  @include mixins.respond-below(xs) {
    position: absolute !important;
    z-index: 3;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;

    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0.75rem;
    border-radius: 0 !important;

    background: none !important;

    :global(html.with-bottombar) & {
      padding-bottom: calc(0.75rem + var(--bottombar-height));
    }
  }
}

.searchContainer {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 2.75rem;
  margin: 0 1.25rem;
  border-radius: 2.75rem;

  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-gray-2);

  background-color: var(--color-background-first-blur);
  backdrop-filter: blur(2rem);
  box-shadow: 0 0.25rem 1rem 0 #00000014, 0 0 0.25rem 0 #00000014;

  @include mixins.adapt-margin-to-scrollbar(1.25rem);

  @include mixins.respond-below(xs) {
    height: 2.75rem;
    margin: 0 1.25rem;
    border-radius: 6.25rem;

    background-color: var(--color-app-background);
    box-shadow: var(--shadow-glass-capsule);

    @supports (backdrop-filter: blur(16px)) {
      background-color: var(--color-background-blurred);
      backdrop-filter: blur(var(--blur-glass-capsule));
    }

    @include mixins.frostedGlass(0.8);
  }
}

.searchIcon {
  margin-left: 0.75rem;

  @include mixins.respond-below(xs) {
    font-size: 1.25rem;
    color: var(--color-gray-2);
  }
}

.searchInput {
  scroll-margin: 0.625rem 0.5rem;

  width: 100%;
  padding: 0 0.25rem;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);

  appearance: none;
  background: transparent;
  outline: none;

  &::placeholder {
    font-weight: 600;
    color: var(--color-gray-2);
  }

  &:hover,
  &:focus {
    &::placeholder {
      color: var(--color-interactive-input-text-hover-active);
    }
  }
}

.spinner {
  --spinner-size: 1.25rem;

  flex-shrink: 0;
  margin: 0 0.5rem;
}

.sectionHeader {
  margin: 0 1rem 0.625rem;

  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75rem;
  color: var(--color-black);
}
