@use "sass:math";

@use "../../../../styles/mixins";

@use "../../../../styles/scssVariables" as v;

$color-transition: color 300ms;
$signSizeDiff: 0.375rem;

.containerWrapper {
  --z-card-decoration: 2;
  --z-card-promo: 3;
  --z-card-promo-overlay: 5;
  --z-card-mascot: 4;
  --z-card-content: 6;

  position: relative;
  z-index: var(--z-card);

  overflow: visible;

  box-sizing: border-box;
  width: 100%;
  min-width: 16rem;
  height: 0;
  margin: 0 auto;
  padding-top: v.$cardAspectRatioPortrait;

  :global(html.is-electron) &,
  :global(html.is-mobile-telegram-app.with-safe-area-top) & {
    margin-top: 0;
  }

  @include mixins.respond-above(xs) {
    margin-top: 0;
    padding-top: v.$cardAspectRatioLandscape;
  }
}

.isLoading {
  width: 100%;
  height: 100%;
  padding: 0;
}

.center {
  top: 33%;
  transform: translate(0, -50%);
  margin-right: auto;
  margin-left: auto
}

.seasonalPlaceholder {
  pointer-events: auto;

  position: absolute;
  z-index: var(--z-card-decoration);
  top: 0;
  right: 0;
  left: 0;

  overflow: visible;

  width: 100%;
}

.container {
  --main-text: var(--color-card-text);
  --second-text: var(--color-card-second-text);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-card);

  background-clip: border-box, padding-box, padding-box;
  background-origin: border-box;
  background-image: linear-gradient(
    125deg,
    var(--card-gradient-from, #27B1FA),
    var(--card-gradient-to, #0874F8)
  );

  @include mixins.transition('transform var(--slide-transition), filter var(--slide-transition) !important');

  &.backstage {
    transform: translateY(-0.5625rem) scale(0.9);
    filter: brightness(65%);
  }

  &.chartCard {
    z-index: 10;
    transform: translateY(0.625rem) scale(1.05);

    height: calc(100% - 0.375rem);
    margin-top: 0.375rem;
    padding: 1rem;

    @include mixins.transition(transform var(--slide-transition));

    &:global(.open) {
      transform: translateY(0) scale(1);
    }
  }
}

.containerInner {
  pointer-events: none;

  position: absolute;
  z-index: var(--z-card-content);
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  padding: max(3.75rem, 17.4927%) 1rem 0.25rem;

  > * {
    pointer-events: auto;
  }

  @media (max-width: 360px) {
    padding: max(2rem, 14%) 1rem 0.25rem;
  }
}

.balanceSlide {
  text-align: center;
}

.balanceTransition {
  --border-radius-value: var(--border-radius-default);

  max-height: 3.5rem;

  @include mixins.respond-below(xs) {
    margin-bottom: 0.375rem;
  }
}

.currencySymbol {
  margin-bottom: 0.5rem;
  font-size: calc((#{v.$cardPortraitBaseBalanceSize} - $signSizeDiff) * var(--font-size-scale, 1));
  color: var(--second-text);

  :global(.glare-text) & {
    color: transparent;
  }

  @include mixins.transition($color-transition);

  @include mixins.respond-above(xs) {
    font-size: calc((#{v.$cardLandscapeBaseBalanceSize} - $signSizeDiff) * var(--font-size-scale, 1));
  }
}

.primaryValue {
  font-size: calc(#{v.$cardPortraitBaseBalanceSize} * var(--font-size-scale, 1));
  font-weight: 850;
  line-height: 1;
  color: var(--main-text);
  letter-spacing: -0.04375rem;

  @include mixins.transition($color-transition);

  @include mixins.respond-above(xs) {
    font-size: calc(#{v.$cardLandscapeBaseBalanceSize} * var(--font-size-scale, 1));
  }
}

.primaryFractionPart {
  font-size: calc(2.375rem * var(--font-size-scale, 1));
  font-weight: 800;
  color: var(--second-text);

  :global(.glare-text) & {
    color: transparent;
  }

  @include mixins.transition($color-transition);
}

.iconCaret {
  position: relative;
  top: -0.1875rem;
  left: -0.0625rem;
  font-size: calc(1.25rem * var(--font-size-scale, 1));
}

.iconCaretSmall {
  margin-inline-start: 0.1875rem;
  font-size: 0.5rem;
  line-height: 1;
  vertical-align: 0.0625rem;
}

.iconCaretFraction {
  position: relative;
  top: -0.125rem;

  margin-inline-start: 0.125rem;

  font-size: calc(1rem * var(--font-size-scale, 1));
  color: var(--second-text);

  @include mixins.transition($color-transition);
}

.currencySwitcher {
  cursor: var(--custom-cursor, pointer);
  position: relative;

  @include mixins.transition(opacity 200ms);

  &:hover,
  &:focus-visible {
    opacity: 0.85;
  }

  @include mixins.active-transition-optimization();
}

.currencySwitcherMenu {
  --offset-y-value: -0.75rem;
}

.currencySwitcherMenuBubble {
  right: auto !important;
  left: var(--offset-x-value, var(--offset-x));
}

.cardAddressContainer {
  height: 1.125rem;
  margin: auto auto 0.75rem;
}

.cardAddressSlide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.addressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimized {
  margin: auto auto 0;
}

.saveTemporaryButton {
  cursor: var(--custom-cursor, pointer);

  display: inline-flex;
  gap: 0.125rem;
  align-items: center;

  height: 1.75rem;
  margin-top: -0.375rem;
  margin-right: 0.5rem;
  margin-bottom: -0.375rem;
  padding: 0.25rem 0.5rem;
  border: 0.0625rem solid var(--color-card-button-border);
  border-radius: var(--border-radius-buttons);

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-card-text);

  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(16px);

  @include mixins.transition(background-color 200ms);

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      background-color: var(--color-card-button);
    }
  }

  &:active {
    background-color: var(--color-card-button);
  }

  @include mixins.active-transition-optimization();
}

.addIcon {
  font-size: 1.25rem !important;
}

.addressLabel {
  display: inline-flex;
  align-items: center;

  height: 1.25rem;
  margin: -0.125rem 0.5rem -0.125rem 0;
  padding: 0 0.25rem;
  border-radius: 1.5rem;

  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--second-text);
  vertical-align: 0.125rem;

  background-color: var(--color-card-button);
  backdrop-filter: blur(12px);

  @include mixins.transition('#{$color-transition}, background-color 300ms');

  > .icon {
    margin: 0 0.25rem 0 0.125rem;
    font-size: 0.75rem;
  }
}

.address {
  cursor: var(--custom-cursor, pointer);

  display: inline-flex;
  align-items: center;

  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;

  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1;
  color: var(--second-text);

  background: transparent;
  outline: none;

  -webkit-touch-callout: none;

  @include mixins.transition($color-transition);

  @include mixins.active-transition-optimization(!important);

  &:hover,
  &:focus-visible {
    color: var(--main-text);
  }

  @include mixins.respond-below(xs) {
    font-size: 1rem;
  }

  .icon {
    margin-left: 0.125rem;
  }
}

.icon {
  font-size: 1rem;
  vertical-align: -0.1875rem;

  &:global(.icon-ledger) {
    margin-inline-end: 0.25rem;
    color: var(--second-text);

    @include mixins.transition($color-transition);
  }
}

.menuItem {
  --copy-icon-color: var(--color-gray-3);

  position: relative;
  display: flex;
  width: 100%;
  padding: 0.6875rem 0.9375rem 0.6875rem 0.75rem !important;

  @media (pointer: coarse) {
    padding: 0.5625rem 0.9375rem 0.5625rem 0.625rem !important;
  }
}

.menuIcon {
  width: 1.625rem;
  height: 1.625rem;

  @media (pointer: coarse) {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.menuItemContent {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.menuItemName {
  cursor: var(--custom-cursor, pointer);
  display: inline-flex;

  @media (hover: hover) {
    &:hover,
    &:focus {
      --copy-icon-color: var(--color-accent);
    }
  }
}

.menuFontIcon {
  margin-top: -0.0625rem;
  margin-inline-start: 0.25rem;
  margin-inline-end: 0;

  font-size: 1rem !important;
  color: var(--copy-icon-color);

  @include mixins.transition($color-transition);
}

.menuExplorerIcon {
  cursor: var(--custom-cursor, pointer);

  order: 3;

  margin-right: -0.375rem;
  margin-left: auto;
  padding-left: 1rem;

  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-accent);

  @include mixins.transition(color 150ms);

  &:active {
    color: var(--color-accent-button-background-hover);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--color-accent-button-background-hover);
    }
  }
}

.addressMenuBubble {
  --offset-x-value: calc(var(--menu-width) / -2);

  @include mixins.respond-below(xs) {
    right: auto !important;
    left: auto !important;
  }

  @include mixins.respond-above(xs) {
    max-height: min(60vh, 35rem);
  }

  &.notActive {
    pointer-events: none;
  }
}

.domainText {
  cursor: var(--custom-cursor, pointer);

  overflow: hidden;

  max-width: 11rem;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.addressText {
  cursor: var(--custom-cursor, pointer);

  @include mixins.transition(color 200ms);

  @media (hover: hover) {
    &:hover,
    &:focus {
      color: var(--color-gray-1);
    }
  }
}

.separator {
  margin: 0 4px;
  color: var(--color-gray-2);
}

.chainRow {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--color-gray-2);
  white-space: nowrap;

  @media (pointer: coarse) {
    font-size: 0.8125rem;
  }
}

.changeSpoiler {
  --border-radius-value: var(--border-radius-default);

  width: 100% !important;
}

.blurred {
  backdrop-filter: blur(10px);
}

.sensitiveData,
.sensitiveDataContent {
  width: 100% !important;
}

.change {
  cursor: var(--custom-cursor, pointer);

  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  justify-items: center;

  height: 1.75rem;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-default);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-card-change-text);
  white-space: nowrap;

  background: var(--color-card-button);
  backdrop-filter: blur(12px);

  @include mixins.transition('#{$color-transition}, background-color 200ms ease');

  &:hover,
  &:focus-visible {
    background: var(--color-card-button-hover);
  }

  &.positive {
    color: var(--color-card-change-text-green);
    background: var(--color-card-change-background-green);

    &:hover,
    &:focus-visible {
      background: var(--color-card-change-background-green-hover);
    }
  }
}

.changeValue {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

.changeChevron {
  margin-left: -0.125rem;
  font-size: 0.875rem;

  :global(.glare-text) & {
    color: transparent;
  }
}

.changePrefix {
  margin-right: -0.125rem;
  font-size: 1.25rem;
  line-height: 1rem;

  :global(.glare-text) & {
    color: transparent;
  }
}

.chainIcon,
.multichainIcon {
  height: 1.125rem;
  margin-inline-end: 0.25rem;
  vertical-align: -0.25rem;
}

.iconExpand {
  margin-inline-start: 0.25rem;
  font-size: 0.5rem;
}

.chainIcon {
  width: 1.125rem;
}

.multichainIcon {
  width: 1.875rem;
}

.multichainList {
  display: inline-flex;
  gap: 0.375rem;
  align-items: center;
}

.multichainItem {
  display: inline-flex;
  align-items: center;
}

.multichainAddress {
  display: inline-flex;
}

.tokenInfo {
  display: grid;
  grid-template-areas: "icon header" "icon subheader";
  grid-template-columns: min-content minmax(0, 1fr); // `minmax` forces the column to stay within the grid boundaries and to cut the content with ellipsis
  align-items: center;
}

.tokenLogo {
  --fallback-token-color: var(--color-card-text);

  grid-area: icon;
  margin-right: 0.5rem;
}

.tokenInfoHeader,
.tokenInfoSubheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tokenInfoHeader {
  grid-area: header;
  align-self: flex-end;

  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-card-text);
}

.tokenInfoSubheader {
  grid-area: subheader;
  align-self: flex-start;

  margin-top: 0.25rem;

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-card-second-text);
}

.tokenAmount,
.tokenName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tokenValue,
.tokenAmount {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}

.tokenValue,
.tokenChange {
  flex: none;
  margin-inline-start: 0.25rem;
  text-align: right;
}

.tokenChange {
  line-height: 0.875rem;
}

.tokenChangeSensitiveData {
  min-height: 0.875rem !important;
  margin-left: 0.1875rem;
}

.tokenChangeSpoiler {
  top: -0.0625rem !important;
  right: -0.1875rem !important;
}

.tokenValue {
  --offset-x-value: -0.3125rem;
  --offset-y-value: 0.1875rem;

  margin-inline-end: -0.1875rem;
}

.tokenTitle {
  display: flex;
  align-items: center;
  min-width: 0;
  line-height: 0.875rem;
}

.tokenHistoryPrice {
  bottom: 0;
}

.tokenCurrentPrice {
  right: 1rem;
  bottom: 1rem;
  line-height: 1;
  text-align: right;
}

.tokenHistoryPrice,
.tokenCurrentPrice {
  position: absolute;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--color-card-text);
}

.tokenPriceDate {
  margin-top: 0.125rem;

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-card-second-text);
}

.apy {
  flex: none;

  height: 0.9375rem;
  margin-block: -0.125rem -0.0625rem;
  margin-inline-start: 0.25rem;
  padding: 0.1875rem;
  border-radius: 0.25rem;

  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-card-apy-text);

  background-color: var(--color-card-apy-background);
}

.interactive {
  cursor: var(--custom-cursor, pointer);
}

.tokenExplorerButton {
  position: relative;
  top: 0.25rem;

  font-size: 1rem;
  line-height: 0.625rem;
  color: var(--color-card-second-text) !important;
  text-decoration: none !important;

  @include mixins.transition($color-transition);

  @include mixins.active-transition-optimization();

  &:hover,
  &:focus-visible {
    color: var(--color-card-text) !important;
  }
}

.chart {
  touch-action: none;
  cursor: var(--custom-cursor, pointer);
  user-select: none;

  position: relative;

  width: 100%;
  height: auto;
  padding: 0.75rem 0 0.875rem 0;

  // Following pseudo-elements are used to enlarge interactive area without affecting bounding box

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -0.5rem;

    width: 0.5rem;
    height: 100%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: -0.5rem;

    width: 0.5rem;
    height: 100%;
  }
}

.chartImg {
  pointer-events: none;
  width: 100%;
  height: auto;
}

.periodChooser {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;

  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--color-card-text);

  transition: opacity 0.15s ease;
}

.periodChooserHidden {
  pointer-events: none;
  opacity: 0;
}

.periodItem {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  overflow: hidden;

  margin: 0;
  padding: 0.3125rem 0.3125rem 0.375rem;
  border-radius: var(--border-radius-tiny);

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.8125rem;
  color: var(--color-card-text);

  @include mixins.transition(background-color 200ms);

  &:hover {
    background-color: var(--color-card-button);
  }

  &_active {
    background-color: var(--color-card-toggle) !important;
  }
}

.periodInput {
  position: absolute;
  top: -2rem;
  left: -2rem;

  width: 0.0625rem;
  height: 0.0625rem;

  opacity: 0;
  clip: rect(0 0 0 0);
}

.loadingDotsContainer {
  position: absolute;
  z-index: 1;
  top: 0.5625rem;
  left: 50%;
  transform: translateX(-50%) scale(0.6);

  height: 0.375rem !important;

  opacity: 0.75 !important;
}
