.iframe {
  height: 100%;
  border: 0;
  border-radius: var(--border-radius-default);

  // If the menu in the header is open, the event handling must be disabled,
  // otherwise the menu items will not be accessible
  :global(.is-menu-open) ~ & {
    pointer-events: none;
  }
}

.dialog {
  width: calc(100vw - 2rem);
  max-width: calc(100vw - 2rem) !important;
  height: calc(100vh - 2rem);
  max-height: calc(100vh - 2rem) !important;
  margin: 0 !important;
}

.modalHeader {
  --color-gray-3: var(--color-black);

  padding: 0.5rem !important;
}

.dropdownValue {
  font-size: 1.0625rem !important;
  font-weight: 700 !important;
}

.title {
  --offset-x-value: 50%;
  --translate-x: -50%;

  overflow: visible !important;
}
